<div class="container py-4">
  <div class="row">
    <div class="col- col-md-3"></div>
    <div class="col- col-md-6">
      <%= react_component 'posts' %>
    </div>
    <div class="col- col-md-3"></div>
  </div>
</div>
